:root {
	--bg-primary: rgb(77, 68, 204);
	--bg-segundary: rgb(40, 36, 252);
	--text-color: rgb(44, 44, 44);
	--bg-body: rgb(231, 225, 255);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-body);
}

.App {
	max-width: 1200px;
	height: 100vh;
	min-height: 100vh;
	border: solid;
	margin: auto;
}

.App-header {
	width: 100%;
	height: 300px;
	min-height: 300px;
	border: solid 2px red;
	margin-bottom: 20px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.App-main {
	width: 100%;
	height: 720px;
	min-height: 720px;
	border: solid 2px blue;
}

.btn {
	background-color: var(--bg-primary);
	border: none;
}
